@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Lato', cursive;
    background-color: #282D35;
}
/*NavBar*/
.nav--container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21222A;
    height: 90px;
    color: #fff;
    text-decoration: none;
    padding: 30px 25px;
    
}

.nav--text{
    text-decoration: none;
    font-size:24px;
    font-weight:bold;
    letter-spacing: 1px;
    color: #fff;
}    

.nav--items {
    text-decoration: none;
    display: inline;
    margin: 10px;
    
}
.nav--list{
    margin: 0px;
    padding: 0px;
}

.nav--text:hover{
    color: #e0ba1f;
}


/*Main*/

main {
    padding: 60px 100px;
    width:100%;
    color: white;
    
}

.main--title {
    margin: 0;
    display:flex;
    font-size: 39px;
    justify-content: center;
}

.main--container {
    display: flex;
    justify-content:center;
    
}

.main--icon{
    width:350px;
    display: flex;
    margin:0px;
    padding: 0px;
}

.main--text {
    display: flex;
    margin-top: 50px;
    padding: 0px;
    max-width:450px;
    
    
}

